.student3 {
  position: relative;
  background-color: rgb(149, 223, 182);
}

.student3::before {
  content: "";
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-size: cover;
  background-image: url("../../Assets/Images/offerings/student-3.jpg"); 
  z-index: 1;
}

.student3::after {
  content: "";
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 110px;
  height: 110px;
  border-radius: 50%;
  z-index: 2;
}
.student3:hover {
  transform: scale(1.1); 
  transition: transform 0.3s ease; 
}

.student2 {
  position: relative;
 background-color: rgb(236, 231, 166);
} 

.student2::before {
  content: "";
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 110px; 
  height: 110px; 
  border-radius: 50%;
  background-size: cover;
  background-image: url("../../Assets/Images/offerings/student-2.jpg"); 
  z-index: 1;
}

.student2::after {
  content: "";
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 110px; 
  height: 110px; 
  border-radius: 50%;
}
.student2:hover {
  transform: scale(1.1); 
  transition: transform 0.3s ease; 
}
.student1 {
  position: relative;
  background-color: rgb(241, 180, 155);
}

.student1::before {
  content: "";
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 110px; 
  height: 110px; 
  border-radius: 50%;
  background-size: cover;
  background-image: url("../../Assets/Images/offerings/student-1.jpg"); 
  z-index: 1;
}


.student1::after {
  content: "";
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 110px; 
  height: 110px; 
  border-radius: 50%;
  z-index: 2;
}
.student1:hover {
  transform: scale(1.1); 
  transition: transform 0.3s ease; 
}

.student4 {
  position: relative;
  background-color: rgb(170, 231, 175);
}

.student4::before {
  content: "";
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 110px; 
  height: 110px; 
  border-radius: 50%;
  background-size: cover;
  background-image: url("../../Assets/Images/offerings/student-4.jpg"); 
  z-index: 1;
}

.student4::after {
  content: "";
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 110px; 
  height: 110px; 
  border-radius: 50%;
  z-index: 2;
}
.student4:hover {
  transform: scale(1.1); 
  transition: transform 0.3s ease; 
}