.team-members {
  margin-top: 50px;
  display: flex;
  margin-bottom: 50px;
  flex-direction: column;
}

.team-member {
  justify-content: center;
  display: flex;
  margin: auto 100px;
  @media (max-width:767px) {
    margin: auto 20px;
  }
}
.team_main {
  margin-top: 5vw;
  position: relative;
}

@media screen and (max-width: 768px) {
  .team_main {
    margin-left: auto;
    margin-right: auto;
  }
}
.team-info {
  margin-bottom: 50px;
  flex: 1;
}
.team_title{
  margin-top: 1vw;
  letter-spacing: .1em;
  text-transform: uppercase;
  color: rgb(28, 40, 148);
  font-size: 1.4em;
}
.team_description{
  text-align: justify;
}
.team_name{
  margin-bottom: 2vw;
  margin-top: 2vw;
  width: 20px;
  line-height: 1.2em;
  letter-spacing: -2px;
}
.team-image {
  flex: 1;

}

.odd {
  margin-bottom: 5vw;
  flex-direction: row-reverse;
}
.even {
  flex-direction: row;
}