.team-members {
  margin-top: 70px;
  display: flex;
  margin-bottom: 50px;
  flex-direction: column;
}

.team-member {
  justify-content: center;
  display: flex;
  margin: auto 10px;

  @media (max-width:767px) {
    margin: auto 20px;
  }
}

.team_main {
  margin-top: 3vw;
  position: relative;
}

@media screen and (max-width: 800px) {
  .team_main {
    margin-left: auto;
    margin-right: auto;
  }
}

.team-info {
  margin-bottom: 30px;
  flex: 1;
}

.team_title {
  /* margin-top: 1vw; */
  letter-spacing: .1em;
  text-transform: uppercase;
  color: #063970;
  /* font-size: 1.5em; */
}

.team_description {
  text-align: justify;
  line-height: 1.2em;
}

.team_name {
  margin-bottom: 2vw;
  margin-top: 1vw;
  /* width: 20px; */
  line-height: 1.1em;
  /* letter-spacing: -2px;
}
.team-image {
  flex: 1;
  max-height: 400px;

}

.odd {
  /* margin-bottom: 5vw; */
  flex-direction: row-reverse;
}

.even {
  flex-direction: row;
  margin-bottom: 0px !important;
}