.about_below{
  margin: auto 80px;
  @media (max-width:786px) {
    margin: auto 10px;
  }

}
.about-container{
  overflow: hidden;
}
  .about-members {
    margin-top: 10vw;
    display: flex;
    margin-bottom: 50px;
    flex-direction: column;
  }
  
  .about-member {
    justify-content: center;
    display: flex;
    margin-bottom: 50px;
    margin: auto 80px;
    @media (max-width:768px) {
      margin: auto 20px;

    }
  }
  .about_main{
    margin-top: 80px;
  }
  .about-info {
    background-color:rgba(255, 255, 255, 0.463);
    padding: 10px;
    border: 3px solid black;
    margin: 30px;
    flex: 1;
    @media (max-width:786px) {
      border: 1px solid black;
      border-radius: 5px;
      margin: 0;
    }
  }
  .about_title{
    margin-top: 3vw;
    text-transform: uppercase;
    color: rgb(9, 96, 218);
    font-size: 3em;
    font-weight: bold;
  }
  .about_description{
    text-align: justify;
  }
  .about_name{
    margin-bottom: 2vw;
    margin-top: 2vw;
    width: 20px;
    line-height: 1.2em;
    letter-spacing: -2px;
  }
  .about-image {
    
    flex: 1;
  }
  
  .odd {
    flex-direction: row-reverse;
    @media (max-width:786px) {
      flex-direction: column;

    }
  }
  
  .even {
    margin-bottom: 15vw;
    flex-direction: row;
    @media (max-width:786px) {
      flex-direction: column;

    }
  }
  .oddd{
    position: relative;
    top: -9vw;
    @media (max-width:786px) {
      top: 10vw;

    }
  }
  .evenn{
    position: relative;
    top: 7vw;
  }
  
  .belowid{
    position: relative;
    top: 0;
  }
  .belowig{
    position: relative;
    top: -9vw;
   
  }