.about-one-new{
    margin: auto 100px;
    margin-top:60px;
    margin-bottom: 10px;
  }
  
  .about-member {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  
  .about-member__container {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .about-member__img img {
    max-width: 450px; /* Adjust image size as needed */
    max-height: 500px;
    border-radius: 10%; /* Make images round */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    margin: 20px;
  }
  
  .about-member__details {
    width: calc(100% - 200px); 
    padding: 70px 30px; 
    text-align: justify;
    /* border: 2px solid rgb(167, 167, 167); */
    border-radius: 30px;
    /* background-color: rgba(231, 230, 230, 0.637) ; */
    max-height: 330px;
  }
  
  .about-member__title {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 15px;
    color: #223c86;
    text-transform: uppercase;
    line-height: 28px;
    letter-spacing: 0em;
  }
  
  .about-member__description {
    font-size: 1.1em;
    line-height: 1.2;
    max-height: calc(1.4 * 8); /* Maximum of 8 lines */
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .about-member__description:hover {
    max-height: none; /* Expand description on hover */
    overflow: visible;
  }
  