
  .product_wp {
    margin: auto 60px;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    @media (max-width:786px) {
        margin: auto 30px;

    }

  }

